 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/wallpaperflare.com_wallpaper11.jpg");
  background-position: 50% 50%;
  padding: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 85px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 85px auto 55px;
}

.u-section-1 .u-form-group-4 {
  text-align: left;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-family: Poppins;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}